html {
    height: 100%;
    overflow: hidden;
    --primary-color: #1890ff;
    --search-height: 46px;
    --search-radius: 23px;
    --search-bgColor: rgba(var(--alpha-bg), 0.5);
    --icon-radius: 13.795555555555556px;
    --icon-size: 51.733333333333334px;
    --icon-gap-x: 25.866666666666667px;
    --icon-gap-y: 25.866666666666667px;
    --icon-max-width: 1350px;
    --icon-opacity: 1;
    --icon-name: block;
    --icon-nameSize: 12px;
    --icon-nameColor: #fff;
    --time-size: 64px;
    --time-font: HarmonyOS_Sans;
    --time-color: #fff;
    --time-fontWeight: 600;
    --time-month: inline;
    --time-week: inline;
    --time-lunar: inline;
    --time-sec: inline;
    --sidebar-width: 50px;
    --sidebar-opacity: 0.4;
    --wall-mask: 0;
    --wall-blur: 0px;
}

body {
    position: relative;
    height: 100%;
}

.col {
    /* padding-top: 100%; */
}

.col .card {
    padding-top: 100%;
}

.col .card-body {
    padding-top: 100%;
    /* flex: 0 0 100%; */
    /* max-width: 100%; */
}

.col .card-footer {
    /* flex: 0 0 8.333333%; */
    /* max-width: 8.333333%; */
}

.masonry .col-2>.card {
    /* padding-top: calc(100% + 0.014px); */
}

.col-1 {
    /* -ms-flex: 0 0 8.33%;
flex: 0 0 calc(8.33% - .5px);
max-width: calc(8.33% - .5px); */
}

.col-2 {
    -ms-flex: 0 0 16.6666666666666666%;
    flex: 0 0 16.66666666666666666666%;
    max-width: 16.6666666666666666666%;
}

.col-1--1 {}

.col-1--2 {}

.col-2--1 {}

.col-2--2 {}

.pt-50 {
    padding-top: calc(50% - .75rem);
}

.pt-100 {
    padding-top: 100%;
}

.px-2--5 {
    padding-left: .75rem;
    padding-right: .75rem;
}

.border.pt-100 {
    padding-top: calc(100% - 2px);
}

.h-0 {
    height: 0;
}

.rounded\:3 {
    border-radius: .75rem;
}

.rounded\:4 {
    border-radius: 1rem;
}

.rounded\:6 {
    border-radius: 1.5rem;
}

.rounded\:8 {
    border-radius: 2rem;
}

.top\:0 {
    top: 0;
}

.right\:0 {
    right: 0;
}

.right\:3 {
    right: .75rem;
}

.bottom\:0 {
    bottom: 0;
}

.left\:0 {
    left: 0;
}

.left\:1 {
    left: .25rem;
}

.left\:2 {
    left: .5rem;
}

.left\:3 {
    left: .75rem;
}

.bg-light\:40 {
    background-color: rgba(255, 255, 255, .4);
}

.bg-light\:30 {
    background-color: rgba(255, 255, 255, .3);
}

.wallpaper {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    transition: background .3s, transform .3s, height .3s;
    background-size: cover;
    background-position: 50%;
    z-index: -1;
}

@media (min-width: 1480px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        /* max-width: 1400px; */
    }
}