.pt-100 {
    padding-top: 100%;
}

.h-0 {
    height: 0;
}

.rounded\:4 {
    border-radius: 1rem;
}

.rounded\:6 {
    border-radius: 1.5rem;
}

.rounded\:8 {
    border-radius: 2rem;
}

@media (min-width: 1480px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1400px;
    }
}