<div class="container">
  <div class="row">
    <div class="col-6 col-sm-2 logo-column">
      <a href="https://langnang.github.io/" class="logo">
        <img src="favicon.ico" alt="logo">
      </a>
    </div>
    <div class="col-6 col-sm-10 nav-column clearfix">
      <div class="right-nav">
        <div class="header-social">
          <a href="https://github.com/langnang" style="font-size: 25px;">
            <i class="fab fa-github"></i>
          </a>
        </div>
      </div>
      <nav id="menu" class="d-none d-lg-block">
        <ul>
          <li> <a href="{{publicPath}}/index.html">Home</a> </li>
          <li class="has-child">
            <a href="#">Gists</a>
            <ul class="sub-menu">
            </ul>
          </li>
          <li class="has-child">
            <a href="#">Repos</a>
            <ul class="sub-menu">
              <li>PHP</li>
              <li><a href="https://github.com/langnang/public-apis" target="_blank">public-apis</a></li>
              <li>Template</li>
              <li><a href="https://github.com/langnang/simple-php-web-server" target="_blank">simple-php-web-server</a>
              </li>
            </ul>
          </li>
          <li class="has-child">
            <a href="#">Sites</a>
            <ul class="sub-menu">
              <li><a href="http://nav.langnang.ml" target="_blank">Nav</a></li>
              <li><a href="https://langnang.github.io/simple-audio-player/" target="_blank">Simple Audio
                  Player</a></li>
              <li><a href="https://langnang.github.io/langnang/" target="_blank">Blog VuePress</a></li>
            </ul>
          </li>
          <li class="has-child">
            <a href="#">Works</a>
            <ul class="sub-menu">
              <li><small>fulan(2021.04~present)</small></li>

              <li><small>Advantech(2018.06~2021.04)</small></li>
              <li><a href="https://portals.ushop-plus.com/" target="_blank">Ushop</a></li>
              <li><a href="https://www.storevue.com/" target="_blank">StoreVue</a></li>
              <li><a href="https://account.storevue.com/" target="_blank">OP</a></li>
              <li><a href="https://sm-dev-02.ushop-plus.com/" target="_blank">ServerMonitor</a></li>
              <li><a href="https://license.ushop-plus.com" target="_blank">License Server</a></li>
            </ul>
          </li>
          <li class="has-child">
            <a href="#">Accounts</a>
            <ul class="sub-menu">
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
