<div class="container">
	<div class="row">
		<div class="col-6 col-sm-2 logo-column">
			<a href="{{publicPath}}/#/" class="logo">
				<img src="favicon.ico" alt="logo">
			</a>
		</div>
		<div class="col-6 col-sm-10 nav-column clearfix">
			<div class="right-nav">
				<span class="search-icon fa fa-search" style="font-size: 20px;"></span>
				<form action="{{publicPath}}/#/faq" class="search-form">
					<input type="search" name="kw" placeholder="Search..." />
					<button type="submit"><i class="fa fa-search"></i></button>
				</form>
				<div class="header-social">
					<a href="https://github.com/langnang" style="font-size: 20px;">
						<i class="fab fa-github"></i>
					</a>
				</div>
			</div>
			<nav id="menu" class="d-none d-lg-block">
				<ul>
					<li><a href="{{publicPath}}/#/">Home</a></li>
					<li class="has-child">
						<a href="#">Gists</a>
						<ul class="sub-menu">
							<li> <a href="https://gist.github.com/langnang/2d2d84f3203c496c976d3aad34f1c088">batch-renaming</a> </li>
							<li> <a href="https://gist.github.com/langnang/4a0cd88ed0e81df790da016e175d118f">batch-ffmpeg-convert-video-format</a>
							</li>
							<li> <a href="https://gist.github.com/langnang/d3773e4325f1ba87653a0543cabe4f25">batch-ffmpeg-extract-video-subtitles</a>
							</li>
							<li> <a href="https://gist.github.com/langnang/fffc8d018ddd453ea5e0e7d5119bd694">batch-export-file-names</a>
							</li>
						</ul>
					</li>
					<li class="has-child">
						<a href="#">Repos</a>
						<ul class="sub-menu">
							<li><a href="#">Component</a></li>
							<li><a href="#">Module</a></li>
							<li>PHP</li>
							<li><a href="https://github.com/langnang/public-apis">public-apis</a></li>
							<li>Redevelop</li>
							<li><a href="#">OneIndex</a></li>
							<li><a href="#">Typecho</a></li>
							<li>Template</li>
							<li><a href="#">Single File</a></li>
							<li><a href="#">Require</a></li>
							<li><a href="#">PHP Web Server</a></li>
							<li><a href="#">Vue</a></li>
					</li>
				</ul>
				</li>
				<li class="has-child">
					<a href="#">Sites</a>
					<ul class="sub-menu">
						<li><a href="http://nav.langnang.ml">nav</a></li>
						<li><a href="https://langnang.github.io/element/">element</a></li>
						<li><a href="https://langnang.github.io/simple-audio-player/">music</a></li>
						<li><a href="https://langnang.github.io/toolkit/">toolkit</a></li>
						<li><a href="https://langnang.github.io/card/">card</a></li>
					</ul>
				</li>
				<li class="has-child">
					<a href="#">Chart</a>
					<ul class="sub-menu"></ul>
				</li>
				<li class="has-child">
					<a href="#">Works</a>
					<ul class="sub-menu">
						<li><small>fulan(2021.04~present)</small></li>
						<li><a href="#">JYH</a></li>
						<li><a href="#">Partmanage</a></li>
						<li><a href="#">Carassess</a></li>
						<li><a href="#">Carassess Drp</a></li>
						<li><small>Advantech(2018.06~2021.04)</small></li>
						<li><a href="https://portals.ushop-plus.com/">Ushop</a></li>
						<li><a href="https://www.storevue.com/">StoreVue</a></li>
						<li><a href="https://account.storevue.com/">OP</a></li>
						<li><a href="https://sm-dev-02.ushop-plus.com/">ServerMonitor</a></li>
						<li><a href="https://license.ushop-plus.com">License Server</a></li>
					</ul>
				</li>
				{{!-- <li class="has-child">
					<a href="#">Accounts</a>
					<ul class="sub-menu">
					</ul>
				</li> --}}
				</ul>
			</nav>
		</div>
	</div>
</div>
