<div class="footer-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="copyright-txt">
          Copyright &copy; 2021 Langnang
        </div>
      </div>
      <div class="col-md-6 text-right">
        <div class="footer-nav">
          <a href="#">Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
